---
nav_order: 1
icon: lightbulb
title: Faculty Research
permalink: /research/
---

<a role="button" class="btn btn-warning btn-lg border boder-dark p-4" href="https://verso.uidaho.edu/esploro/search/collections/Artificial-Intelligence-and-Machine-Learning-Research/airesearch?institution=01ALLIANCE_UID" target="_blank">Check out Current AI and Machine Learning Research @ UI <sup>{% include icon.html icon="box-arrow-up-right" %}</sup></a>


<div class="px-2 w-100 mt-4">
<p>A January 2024 Slideshow from Luke Sheneman Featuring AI Research <br>
</p>
{% include template/carousel.html %}
<p><a href="{{ 'assets/pdf/AIatUI.pdf' | relative_url}}" class="small">Download the PDF</a></p>
</div>